<main id="main" class="main">

    <div class="pagetitle">
      <h1>New Project</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Project</li>
          <li class="breadcrumb-item active">New</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
  
  
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
  
              <!-- Multi Columns Form -->
              <form class="row g-3">
                <div class="col-md-12">
                  <label for="inputName5" class="form-label">Company Code</label>
                  <input type="text" class="form-control" id="inputName5">
                </div>
                <div class="col-md-12">
                    <label for="inputName5" class="form-label">Employee Code</label>
                    <input type="text" class="form-control" id="inputName5">
                  </div>
                  <div class="col-md-12">
                    <label for="inputName5" class="form-label">CLient Code</label>
                    <input type="text" class="form-control" id="inputName5">
                  </div>
                  <div class="col-md-12">
                    <label for="inputName5" class="form-label">Architect Code</label>
                    <input type="text" class="form-control" id="inputName5">
                  </div>
                  <div class="col-md-12">
                    <label for="inputName5" class="form-label">Associate Code</label>
                    <input type="text" class="form-control" id="inputName5">
                  </div>
                  <div class="col-md-12">
                    <label for="inputName5" class="form-label">Project Name</label>
                    <input type="text" class="form-control" id="inputName5">
                  </div>
                  <div class="col-md-12">
                    <label for="inputName5" class="form-label">Client Wo Number</label>
                    <input type="text" class="form-control" id="inputName5">
                  </div>
           
  
  
             
      
     
                <div class="col-md-6">
                  <label for="inputZip" class="form-label">Start Date</label>
                  <input type="date" class="form-control" id="inputZip">
                </div>
                <div class="col-md-6">
                  <label for="inputZip" class="form-label">End Date </label>
                  <input type="date" class="form-control" id="inputZip">
                </div>
                <div class="col-md-6">
                  <label for="inputZip" class="form-label">Services </label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
  
                <div class="col-md-6">
                  <label for="inputZip" class="form-label">Project Location </label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
             
                <div class="col-md-12">
                  <label for="inputZip" class="form-label">Total Fees </label>
                  <input type="number" class="form-control" id="inputZip">
                </div>
                <div class="col-md-6">
                  <label for="inputZip" class="form-label">Fees Received </label>
                  <input type="number" class="form-control" id="inputZip">
                </div>
                <div class="col-md-6">
                  <label for="inputZip" class="form-label">Fees Balance</label>
                  <input type="number" class="form-control" id="inputZip">
                </div>
  
                <div class="col-md-6">
                  <label for="inputZip" class="form-label">Expenses</label>
                  <input type="number" class="form-control" id="inputZip">
                </div>
                <div class="col-md-6">
                    <label for="inputZip" class="form-label">Profit Amount</label>
                    <input type="number" class="form-control" id="inputZip">
                  </div>
                  <div class="col-md-6">
                    <label for="inputZip" class="form-label">Profit Percent</label>
                    <input type="number" class="form-control" id="inputZip">
                  </div>
               
                  <legend class="col-form-label col-sm-2 pt-0"></legend>
                  <div class="col-md-6">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                      <label class="form-check-label" for="gridRadios1">
                        Current
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                      <label class="form-check-label" for="gridRadios2">
                        Completed
                      </label>
                    </div>
                   
                  </div>
  
                <div class="text-center">
                  <h1> <button type="submit" class="btn btn-primary">Submit</button></h1>
                  <h1> <button type="reset" class="btn btn-secondary">Reset</button></h1>
                </div>
              </form><!-- End Multi Columns Form -->
  
            </div>
          </div>
  
        </div>
  
  
  
  
  
      </div>
  
    </section>
  
  </main><!-- End #main -->