<main id="main" class="main">

    <div class="pagetitle">
      <h1>New Project</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Project</li>
          <li class="breadcrumb-item active">New</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
  
          
  
          <div class="card">
            <div class="card-body pt-3">
            
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true">Description</button>
                </li>
                  
              </ul>
              <div class="tab-content pt-2" id="borderedTabContent">
                <div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
                 
                 
               
              <div class="row gy-4">
  
                <div class="col-lg-12 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
  
                  <!-- <div class="content px-xl-5">
                    <h3>Reverse LinkedList</h3>
                    <p [innerHTML]="description"></p>
                  </div> -->
                  
          
                <h5 class="card-title">New Project</h5>
  
                <!-- General Form Elements -->
               <!-- Multi Columns Form -->
              <form class="row g-3" [formGroup]="form">
                <div class="col-md-12">
                  <label class="form-label">Company Code</label>
             
                    <select class="form-select" aria-label="Default select example" formControlName="projectCode" name="projectCode">
                    
                      <option *ngFor="let company of companies" [value]="company.companyId" [selected]="selectedValue === company.companyId">
                        {{ company.name }} - {{company.companyCode}}
                      </option>
                    </select>
               
                </div>

              
                  <div class="col-md-12">
                    <label for="inputName5" class="form-label">CLient Code</label>
                    <input type="text" class="form-control" id="inputName5">
                  </div>
                 
               
                  <div class="col-md-12">
                    <label for="inputName5" class="form-label">Project Name</label>
                    <input type="text" class="form-control" id="inputName5">
                  </div>
                  <div class="col-md-12">
                    <label for="inputName5" class="form-label">Client Wo Number</label>
                    <input type="text" class="form-control" id="inputName5">
                  </div>
           
  
  
             
      
     
                <div class="col-md-6">
                  <label for="inputZip" class="form-label">Start Date</label>
                  <input type="date" class="form-control" id="inputZip">
                </div>
                <div class="col-md-6">
                  <label for="inputZip" class="form-label">End Date </label>
                  <input type="date" class="form-control" id="inputZip">
                </div>
                <div class="col-md-6">
                  <label for="inputZip" class="form-label">Services </label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
  
                <div class="col-md-6">
                  <label for="inputZip" class="form-label">Project Location </label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
             
                <div class="col-md-12">
                  <label for="inputZip" class="form-label">Total Fees </label>
                  <input type="number" class="form-control" id="inputZip">
                </div>
                <div class="col-md-6">
                  <label for="inputZip" class="form-label">Fees Received </label>
                  <input type="number" class="form-control" id="inputZip">
                </div>
                <div class="col-md-6">
                  <label for="inputZip" class="form-label">Fees Balance</label>
                  <input type="number" class="form-control" id="inputZip">
                </div>
  
                <div class="col-md-6">
                  <label for="inputZip" class="form-label">Expenses</label>
                  <input type="number" class="form-control" id="inputZip">
                </div>
                <div class="col-md-6">
                    <label for="inputZip" class="form-label">Profit Amount</label>
                    <input type="number" class="form-control" id="inputZip">
                  </div>
                  <div class="col-md-6">
                    <label for="inputZip" class="form-label">Profit Percent</label>
                    <input type="number" class="form-control" id="inputZip">
                  </div>
               
                  <legend class="col-form-label col-sm-2 pt-0"></legend>
                  <div class="col-md-6">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                      <label class="form-check-label" for="gridRadios1">
                        Current
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                      <label class="form-check-label" for="gridRadios2">
                        Completed
                      </label>
                    </div>
                   
                  </div>
                  <div class="text-center">
                    <h1> <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button></h1>
                    <h1> <button type="reset" class="btn btn-secondary">Reset</button></h1>
                  </div>
              </form><!-- End Multi Columns Form -->
  
            
  
          
  
                </div>
  
  
              </div>
                
                
                
                
                </div>
           

               

               
              </div><!-- End Bordered Tabs -->
  
            </div>
          </div>
  
         
        </div>
  
  
      </div>
    </section>
  
  </main><!-- End #main -->