<main id="main" class="main">
  <div class="pagetitle">
    <h1>Project dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Project</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" style="overflow-x: auto">
          <div class="card-body">
           
            <h5 class="card-title">Admin</h5>
            <a routerLink="/project/4554/architect">
                <div class="d-grid gap-2 mt-3">
                  <button class="btn btn-secondary btn-lg" type="button">
                    Architect
                  </button>
                </div>
              </a>
            <a routerLink="/project/4554/associate">
              <div class="d-grid gap-2 mt-3">
                <button class="btn btn-light btn-lg" type="button">
                  Associates
                </button>
              </div>
            </a>

            <a routerLink="/project/4554/employee">
              <div class="d-grid gap-2 mt-3">
                <button class="btn btn-secondary btn-lg" type="button">
                  Employees
                </button>
              </div>
            </a>

            <a routerLink="/project/4554/drawing">
              <div class="d-grid gap-2 mt-3">
                <button class="btn btn-light btn-lg" type="button">
                  Drawings
                </button>
              </div>
            </a>

            <a routerLink="/project/4554/invoice/proforma">
                <div class="d-grid gap-2 mt-3">
                  <button class="btn btn-secondary btn-lg" type="button">
                    Proforma Invioce
                  </button>
                </div>
              </a>
              <a routerLink="/project/4545/invoice/gst">
                <div class="d-grid gap-2 mt-3">
                  <button class="btn btn-light btn-lg" type="button">
                    GST Invoices
                  </button>
                </div>
              </a>
  
              <a routerLink="/project/4554/travel">
                  <div class="d-grid gap-2 mt-3">
                    <button class="btn btn-secondary btn-lg" type="button">
                       All Own Car, Local, and Outstation Expenses
                    </button>
                  </div>
                </a>
                <a routerLink="/project/4554/timesheet">
                    <div class="d-grid gap-2 mt-3">
                      <button class="btn btn-light btn-lg" type="button">
                        All Employee Timesheet
                      </button>
                    </div>
                  </a>
      
                  <a routerLink="/project/4554/project-fees">
                      <div class="d-grid gap-2 mt-3">
                        <button class="btn btn-secondary btn-lg" type="button">
                          Project Fees
                        </button>
                      </div>
                    </a>
            <h5 class="card-title">Employee</h5>
            <a routerLink="/project/4554/timesheet">
              <div class="d-grid gap-2 mt-3">
                <button class="btn btn-secondary btn-lg" type="button">
                  My Timesheet
                </button>
              </div>
            </a>
            <a routerLink="/project/4554/travel">
                <div class="d-grid gap-2 mt-3">
                  <button class="btn btn-light btn-lg" type="button">
                    My Own Car, Local, and Outstation Expenses
                  </button>
                </div>
              </a>
  
              <a routerLink="/project/4554/drawing">
                <div class="d-grid gap-2 mt-3">
                  <button class="btn btn-secondary btn-lg" type="button">
                    Drawings
                  </button>
                </div>
              </a>
              <h5 class="card-title">Associate</h5>
  
              <a routerLink="/project/4554/drawing">
                <div class="d-grid gap-2 mt-3">
                  <button class="btn btn-secondary btn-lg" type="button">
                    Drawings
                  </button>
                </div>
              </a>
              
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
