<main id="main" class="main">

    <div class="pagetitle">
      <h1>New Associate Work Order</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Associate Work Order</li>
          <li class="breadcrumb-item active">New</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
  
  
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
  
              <!-- Multi Columns Form -->
              <form class="row g-3" >
               
             
                <div class="col-md-6">
                    <label class="form-label">Project Code</label>
               
                      <select class="form-select" aria-label="Default select example" formControlName="project">
                        <option value="null" selected></option>
                        <option value="A34345">Project One</option>
                        <option value="B345">Project Two</option>
                        <option value="C678967">Project Three </option>
                        <option value="D46456">Project Four </option>
                        <option value="E5767">FIce </option>
                        <option value="F42364">six </option>
                        <option value="G0001">Seven</option>
                      </select>
                 
                  </div>
                <div class="col-md-6">
                    <label class="form-label">Associate Code</label>
               
                      <select class="form-select" aria-label="Default select example" formControlName="project">
                        <option value="null" selected></option>
                        <option value="A34345">Project One</option>
                        <option value="B345">Project Two</option>
                        <option value="C678967">Project Three </option>
                        <option value="D46456">Project Four </option>
                        <option value="E5767">FIce </option>
                        <option value="F42364">six </option>
                        <option value="G0001">Seven</option>
                      </select>
                 
                  </div>

                  <div class="col-md-5">
                    <label for="inputName5" class="form-label">WO Number</label>
                    <input type="text" class="form-control" id="inputName5">
                  </div>


                  <div class="col-md-4">
                    <label for="inputName5" class="form-label">WO Amount</label>
                    <input type="number" class="form-control" id="inputName5">
                  </div>
                  
                  <div class="col-md-3">
                    <label for="inputName5" class="form-label">Service</label>
                    <input type="text" class="form-control" id="inputName5">
                  </div>

                <div class="col-md-6">
                    <label for="inputZip" class="form-label">WO Date</label>
                    <input type="date" class="form-control" id="inputZip">
                  </div>

                  <div class="col-md-6">
                    <label class="form-label">WO Status</label>
               
                      <select class="form-select" aria-label="Default select example" formControlName="project">
                        <option value="null" selected>LIVE</option>
                        <option value="A34345">CLOSED</option>
                        <option value="B345">TERMINATED</option>

                      </select>
                 
                  </div>


                
              
          
              
                 


               
                <div class="text-center">
                  <h1> <button type="submit" class="btn btn-primary">Submit</button></h1>
                  <h1> <button type="reset" class="btn btn-secondary">Reset</button></h1>
                </div>
              </form><!-- End Multi Columns Form -->
  
            </div>
          </div>
  
        </div>
  
  
  
  
  
      </div>
  
    </section>
  
  </main><!-- End #main -->