<main id="main" class="main">
  <div class="pagetitle">
    <h1>Drawings</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Drawings</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" style="overflow-x: auto">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/drawing/new">
                <button type="button" class="btn btn-primary">
                  New Drawing
                </button>
              </a>
            </h5>

            <!-- Table with stripped rows -->
            <table datatable [dtOptions]="dtOptions" class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">drawingId</th>
                  <th scope="col">project</th>
                  <th scope="col">company</th>
                  <th scope="col">employee</th>
                  <th scope="col">client</th>
                  <th scope="col">architect</th>
                  <th scope="col">drawingNumber</th>

                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>123</td>
                  <td>Project XYZ</td>
                  <td>ABC Company</td>
                  <td>John Doe</td>
                  <td>Client Corp</td>
                  <td>Architect Smith</td>
                  <td>456</td>
                  <td>
                    <a routerLink="/drawing/4545">
                      <button type="button" class="btn btn-secondary">
                        Edit
                      </button>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>123</td>
                  <td>Project XYZ</td>
                  <td>ABC Company</td>
                  <td>John Doe</td>
                  <td>Client Corp</td>
                  <td>Architect Smith</td>
                  <td>456</td>
                  <td>
                    <a routerLink="/drawing/4545">
                      <button type="button" class="btn btn-secondary">
                        Edit
                      </button>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>123</td>
                  <td>Project XYZ</td>
                  <td>ABC Company</td>
                  <td>John Doe</td>
                  <td>Client Corp</td>
                  <td>Architect Smith</td>
                  <td>456</td>
                  <td>
                    <a routerLink="/drawing/4545">
                      <button type="button" class="btn btn-secondary">
                        Edit
                      </button>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>123</td>
                  <td>Project XYZ</td>
                  <td>ABC Company</td>
                  <td>John Doe</td>
                  <td>Client Corp</td>
                  <td>Architect Smith</td>
                  <td>456</td>
                  <td>
                    <a routerLink="/drawing/4545">
                      <button type="button" class="btn btn-secondary">
                        Edit
                      </button>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>123</td>
                  <td>Project XYZ</td>
                  <td>ABC Company</td>
                  <td>John Doe</td>
                  <td>Client Corp</td>
                  <td>Architect Smith</td>
                  <td>456</td>
                  <td>
                    <a routerLink="/drawing/4545">
                      <button type="button" class="btn btn-secondary">
                        Edit
                      </button>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
