<main id="main" class="main">
  <div class="pagetitle">
    <h1>Client</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Client</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section" >
    <div class="row">
      <div class="col-lg-12">
        <div class="card" style="overflow-x: auto;">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/client/new">
                <button type="button" class="btn btn-primary">
                  New Client
                </button>
              </a>
            </h5>

            <!-- Table with stripped rows -->
            <table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Address Line 1</th>
                  <th scope="col">Address Line 2</th>
                  <th scope="col">Address Line 3</th>
                  <th scope="col">City</th>
                  <th scope="col">State</th>
                  <th scope="col">Country</th>
                  <th scope="col">Postal Code</th>
                  <th scope="col">Contact Person 1</th>
                  <th scope="col">Designation 1</th>
                  <th scope="col">Mobile Number 1</th>
                  <th scope="col">Email 1</th>
                  <th scope="col">Contact Person 2</th>
                  <th scope="col">Designation 2</th>
                  <th scope="col">Mobile Number 2</th>
                  <th scope="col">Email 2</th>
                  <th scope="col">Pan Number</th>
                  <th scope="col">GST Number</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of company">
                  <td scope="row">{{ c.clientId }}</td>
                  <td scope="row">{{ c.addressLine1 }}</td>
                  <td>{{ c.addressLine2 }}</td>
                  <td>{{ c.addressLine3}}</td>
                  
                  <td>{{ c.city }}</td>
                  <td>{{ c.state }}</td>
                  <td>{{ c.country }}</td>
                  <td>{{ c.postalCode }}</td>
                  <td>{{ c.contactPerson1 }}</td>
                  <td>{{ c.designation1 }}</td>
                  <td>{{ c.mobileNumber1 }}</td>
                  <td>{{ c.email1 }}</td>
                  <td>{{ c.contactPerson2 }}</td>
                  <td>{{ c.designation2 }}</td>
                  <td>{{ c.mobileNumber2 }}</td>
                  <td>{{ c.email2 }}</td>
                  <td>{{ c.panNumber }}</td>
                  <td>{{ c.gstNumber }}</td>
               
                  <td>
                    <a routerLink="/client/{{ c.clientId }}">
                      <button type="button" class="btn btn-secondary">
                        Edit
                      </button>
                    </a>
                  </td>
                  <td>
                    <!-- Disabled Backdrop Modal -->
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="deleteCompany(c.clientId)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
               
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
