<main id="main" class="main">

    <div class="pagetitle">
      <h1>New Expense</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Travel</li>
          <li class="breadcrumb-item active">New</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
  
  
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
  
              <!-- Multi Columns Form -->
              <form class="row g-3">
                <div class="col-md-6">
                  <label for="inputName5" class="form-label">Project Code</label>
                  <input type="text" class="form-control" id="inputName5">
                </div>
                <div class="col-md-6">
                    <label for="inputName5" class="form-label">Employee Code</label>
                    <input type="text" class="form-control" id="inputName5">
                  </div>
            
                  <div class="col-md-5">
                    <label for="inputName5" class="form-label">Petrol Rate</label>
                    <input type="number" class="form-control" id="inputName5">
                  </div>
                  <div class="col-md-5">
                    <label for="inputName5" class="form-label">Car Average Kmpl</label>
                    <input type="number" class="form-control" id="inputName5">
                  </div>
                  <div class="col-md-2">
                    <label for="inputName5" class="form-label">Cost per Km</label>

                  </div>
                  <div class="col-md-6">
                    <label for="inputName5" class="form-label">Distance Traveled</label>
                    <input type="number" class="form-control" id="inputName5">
                  </div>
                  <div class="col-md-6">
                    <label for="inputName5" class="form-label">Public Transport</label>
                    <input type="number" class="form-control" id="inputName5">
                  </div>
                  <div class="col-md-6">
                    <label for="inputName5" class="form-label">Drawing Prints</label>
                    <input type="number" class="form-control" id="inputName5">
                  </div>
                  <div class="col-md-6">
                    <label for="inputName5" class="form-label">Courier</label>
                    <input type="number" class="form-control" id="inputName5">
                  </div>
                  <div class="col-md-2">
                    <label for="inputName5" class="form-label">Cost of Travel</label>

                  </div>
  
             
      
  
                <div class="text-center">
                  <h1> <button type="submit" class="btn btn-primary">Submit</button></h1>
                  <h1> <button type="reset" class="btn btn-secondary">Reset</button></h1>
                </div>
              </form><!-- End Multi Columns Form -->
  
            </div>
          </div>
  
        </div>
  
  
  
  
  
      </div>
  
    </section>
  
  </main><!-- End #main -->