<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item"></li>
    <!-- End Components Nav -->
    <li class="nav-heading">Master</li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/company">
        <i class="bi bi-person"></i>
        <span>Company</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/employee">
        <i class="bi bi-person"></i>
        <span>Employee</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/client">
        <i class="bi bi-person"></i>
        <span>Client</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/associate">
        <i class="bi bi-person"></i>
        <span>Associate</span>
      </a>
    </li>
     <!-- End Profile Page Nav -->

     <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/architect">
        <i class="bi bi-person"></i>
        <span>Architect</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/project">
        <i class="bi bi-person"></i>
        <span>Project</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-heading">Employee</li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/attendance">
        <i class="bi bi-person"></i>
        <span>Attendance</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/timesheet/new">
        <i class="bi bi-person"></i>
        <span>My Timesheet</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/drawing/new">
        <i class="bi bi-person"></i>
        <span>Drawings</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/travel/new">
        <i class="bi bi-person"></i>
        <span>Travel</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    

    <li class="nav-heading">Associate</li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/drawing/new">
        <i class="bi bi-person"></i>
        <span>My Drawing</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-heading">Admin</li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/work-order/new">
        <i class="bi bi-person"></i>
        <span>Associate Work Order</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/project-fees/new">
        <i class="bi bi-person"></i>
        <span>Project Fees </span>
      </a>
    </li>
    <!-- End Profile Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/invoice/proforma/new">
        <i class="bi bi-person"></i>
        <span>Proforma Invoice</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/invoice/gst/new">
        <i class="bi bi-person"></i>
        <span>GST INvoice </span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/associate-fees/new">
        <i class="bi bi-person"></i>
        <span>Associate Fees </span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-heading">Dev</li>

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/account/profile">
        <i class="bi bi-person"></i>
        <span>Profile</span>
      </a>
    </li>
    <!-- End Profile Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/account/register">
        <i class="bi bi-card-list"></i>
        <span>Register</span>
      </a>
    </li>
    <!-- End Register Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/account/login">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Login</span>
      </a>
    </li>
    <!-- End Login Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-error-404.html">
        <i class="bi bi-dash-circle"></i>
        <span>Error 404</span>
      </a>
    </li>
    <!-- End Error 404 Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-blank.html">
        <i class="bi bi-file-earmark"></i>
        <span>Blank</span>
      </a>
    </li>
    <!-- End Blank Page Nav -->
  </ul>
</aside>
<!-- End Sidebar-->
