<main id="main" class="main">
  <div class="pagetitle">
    <h1>Company</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Company</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" style="overflow-x: auto;">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/company/new">
                <button type="button" class="btn btn-primary">
                  New Company
                </button>
              </a>
            </h5>

            <!-- Table with stripped rows -->
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Company Code</th>
                  <th scope="col">Name</th>
                  <th scope="col">Director Name</th>
                  <th scope="col">Director Employee Code</th>
                  <th scope="col">Director Mobile</th>
                  <th scope="col">Land Line</th>
                  <th scope="col">Director Email</th>
                  <th scope="col">Address Line 1</th>
                  <th scope="col">Address Line 2</th>
                  <th scope="col">Address Line 3</th>
                  <th scope="col">City</th>
                  <th scope="col">State</th>
                  <th scope="col">Country</th>
                  <th scope="col">Postal Code</th>
                  <th scope="col">Pan Number</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
               
                <tr *ngFor="let c of company">
                  <td scope="row">{{ c.companyId }}</td>
                  <td>{{ c.companyCode }}</td>
                  <td>{{ c.name }}</td>
                  <td>{{ c.directorName }}</td>
                  <td>{{ c.directorEmployeeCode }}</td>
                  <td>{{ c.directorMobile }}</td>
                  <td>{{ c.landLine }}</td>
                  <td>{{ c.directorEmail }}</td>
                  <td>{{ c.addressLine1 }}</td>
                  <td>{{ c.addressLine2 }}</td>
                  <td>{{ c.addressLine3 }}</td>
                  <td>{{ c.city }}</td>
                  <td>{{ c.state }}</td>
                  <td>{{ c.country }}</td>
                  <td>{{ c.postalCode }}</td>
                  <td>{{ c.panNumber }}</td>
                  <td>
                      <a routerLink="/company/{{c.companyId}}">
                          <button type="button" class="btn btn-secondary">Edit</button>
                      </a>
                    </td>
                    <td>
                    
                          <!-- Disabled Backdrop Modal -->
                          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#disablebackdrop">
                            Delete
                          </button>
                          <div class="modal fade" id="disablebackdrop" tabindex="-1" data-bs-backdrop="false">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Are you Sure?</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                This cant be reverted   </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary" (click)="deleteCompany(c.companyId)">Delete</button>
                                </div>
                              </div>
                            </div>
                          </div><!-- End Disabled Backdrop Modal-->
            
                      
                  </td>
              </tr>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
