<main id="main" class="main">
  <div class="pagetitle">
    <h1>GST Invoice</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Invoice</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" style="overflow-x: auto">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/invoice/gst/new">
                <button type="button" class="btn btn-primary">
                  New GST invoice
                </button>
              </a>
            </h5>

            <!-- Table with stripped rows -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">GST Invoice ID</th>
                  <th scope="col">Project</th>
                  <th scope="col">Invoice Date</th>
                  <th scope="col">Invoice Number</th>
                  <th scope="col">Amount</th>
                  <th scope="col">IGST</th>
                  <th scope="col">SGST</th>
                  <th scope="col">CGST</th>
                  <th scope="col">Net Amount</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>123</td>
                  <td>Project Name</td>
                  <td>2024-03-09</td>
                  <td>INV001</td>
                  <td>1000.00</td>
                  <td>50.00</td>
                  <td>50.00</td>
                  <td>50.00</td>
                  <td>1100.00</td>
                  <td>
                    <a routerLink="/travel/4545">
                      <button type="button" class="btn btn-secondary">
                        Edit
                      </button>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>123</td>
                  <td>Project Name</td>
                  <td>2024-03-09</td>
                  <td>INV001</td>
                  <td>1000.00</td>
                  <td>50.00</td>
                  <td>50.00</td>
                  <td>50.00</td>
                  <td>1100.00</td>
                  <td>
                    <a routerLink="/travel/4545">
                      <button type="button" class="btn btn-secondary">
                        Edit
                      </button>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>123</td>
                  <td>Project Name</td>
                  <td>2024-03-09</td>
                  <td>INV001</td>
                  <td>1000.00</td>
                  <td>50.00</td>
                  <td>50.00</td>
                  <td>50.00</td>
                  <td>1100.00</td>
                  <td>
                    <a routerLink="/travel/4545">
                      <button type="button" class="btn btn-secondary">
                        Edit
                      </button>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>123</td>
                  <td>Project Name</td>
                  <td>2024-03-09</td>
                  <td>INV001</td>
                  <td>1000.00</td>
                  <td>50.00</td>
                  <td>50.00</td>
                  <td>50.00</td>
                  <td>1100.00</td>
                  <td>
                    <a routerLink="/travel/4545">
                      <button type="button" class="btn btn-secondary">
                        Edit
                      </button>
                    </a>
                  </td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>123</td>
                  <td>Project Name</td>
                  <td>2024-03-09</td>
                  <td>INV001</td>
                  <td>1000.00</td>
                  <td>50.00</td>
                  <td>50.00</td>
                  <td>50.00</td>
                  <td>1100.00</td>
                  <td>
                    <a routerLink="/travel/4545">
                      <button type="button" class="btn btn-secondary">
                        Edit
                      </button>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
