<main id="main" class="main">
  <div class="pagetitle">
    <h1>Associate</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Associate</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" style="overflow-x: auto">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/associate/new">
                <button type="button" class="btn btn-primary">
                  New Associate
                </button>
              </a>
            </h5>

            <!-- Table with stripped rows -->
            <table
              datatable
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger"
              class="table table-striped"
            >
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Company Name</th>
                  <th>Designation 1</th>
                  <th>Email 1</th>
                  <th>Designation 2</th>
                  <th>Email 2</th>
                  <th>PAN Number</th>
                  <th>GST Number</th>
                  <th>Bank</th>
                  <th>Is Freelancer</th>
                  <th>Branch Name</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Country</th>
                  <th>Postal Code</th>
                  <th>Contact Person 1</th>
                  <th>Mobile Number 1</th>
                  <th>Contact Person 2</th>
                  <th>Mobile Number 2</th>
                  <th>Branch Address</th>
                  <th>Account Number</th>
                  <th>ISF Code</th>
                  <th>Account Type</th>

                  <th scope="col"></th>
                  <th scope="col"></th>
                
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of company">
                  <td scope="row">{{ c.companyName }}</td>
                  <td>{{ c.name }}</td>
                  
                  <td>{{ c.email }}</td>
                  <td>{{ c.companyName }}</td>
                  <td>{{ c.designation1 }}</td>
                  <td>{{ c.email1 }}</td>
                  <td>{{ c.designation2 }}</td>
                  <td>{{ c.email2 }}</td>
                  <td>{{ c.panNumber }}</td>
                  <td>{{ c.gstNUmber }}</td>
                  <td>{{ c.bank }}</td>
                  <td>{{ c.isFreeLancer }}</td>
                  <td>{{ c.branchName }}</td>
                  <td>{{ c.city }}</td>
                  <td>{{ c.state }}</td>
                  <td>{{ c.country }}</td>
                  <td>{{ c.postalCode }}</td>
                  <td>{{ c.contactPerson1 }}</td>
                  <td>{{ c.mobileNumber1 }}</td>
                  <td>{{ c.contactPerson2 }}</td>
                  <td>{{ c.mobileNumber2 }}</td>
                  <td>{{ c.branchAddress }}</td>
                  <td>{{ c.accountNumber }}</td>
                  <td>{{ c.isfCode }}</td>
                  <td>{{ c.accountType }}</td>

                  <td>
                    <a routerLink="/company/{{ c.companyName }}">
                      <button type="button" class="btn btn-secondary">
                        Edit
                      </button>
                    </a>
                  </td>
                  <td>
                    <!-- Disabled Backdrop Modal -->
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="deleteCompany(c.mobileNumber1)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
