<main id="main" class="main">
  <div class="pagetitle">
    <h1>Architect</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Architect</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" style="overflow-x: auto">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/architect/new">
                <button type="button" class="btn btn-primary">
                  New Architect
                </button>
              </a>
            </h5>

            <!-- Table with stripped rows -->
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">companyName</th>
                  <th scope="col">addressLine1</th>
                  <th scope="col">addressLine2</th>
                  <th scope="col">addressLine3</th>
                  <th scope="col">city</th>
                  <th scope="col">state</th>
                  <th scope="col">country</th>
                  <th scope="col">postalCode</th>
                  <th scope="col">contactPerson1</th>
                  <th scope="col">designation1</th>
                  <th scope="col">mobileNumber1</th>
                  <th scope="col">email1</th>
                  <th scope="col">contactPerson2</th>
                  <th scope="col">designation2</th>
                  <th scope="col">mobileNumber2</th>
                  <th scope="col">email2</th>
                  <th scope="col">panNumber</th>
                  <th scope="col">gstNumber</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let architect of company">
                  <td>{{ architect.architectId }}</td>
                  <td>{{ architect.companyName }}</td>
                  <td>{{ architect.addressLine1 }}</td>
                  <td>{{ architect.addressLine2 }}</td>
                  <td>{{ architect.addressLine3 }}</td>
                  <td>{{ architect.city }}</td>
                  <td>{{ architect.state }}</td>
                  <td>{{ architect.country }}</td>
                  <td>{{ architect.postalCode }}</td>
                  <td>{{ architect.contactPerson1 }}</td>
                  <td>{{ architect.designation1 }}</td>
                  <td>{{ architect.mobileNumber1 }}</td>
                  <td>{{ architect.email1 }}</td>
                  <td>{{ architect.contactPerson2 }}</td>
                  <td>{{ architect.designation2 }}</td>
                  <td>{{ architect.mobileNumber2 }}</td>
                  <td>{{ architect.email2 }}</td>
                  <td>{{ architect.panNumber }}</td>
                  <td>{{ architect.gstNUmber }}</td>
                  <td>
                    <a routerLink="/architect/{{ architect.architectId }}">
                      <button type="button" class="btn btn-secondary">
                        Edit
                      </button>
                    </a>
                  </td>
                  <td>
                    <!-- Disabled Backdrop Modal -->
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="deleteCompany(architect.architectId)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
               
           
              
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
