<main id="main" class="main">
  <div class="pagetitle">
    <h1>Employee</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Employee</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" style="overflow-x: auto">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLink="/employee/new">
                <button type="button" class="btn btn-primary">
                  New Employee
                </button>
              </a>
            </h5>

            <!-- Table with stripped rows -->
            <table
              datatable
              [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger"

              class="table table-striped"
            >
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Employee Code</th>
                  <th>Employee Name</th>
                  <th>Address Line 1</th>
                  <th>Address Line 2</th>
                  <th>Address Line 3</th>
                  <th>Relation 1</th>
                  <th>Relation 2</th>
                  <th>Exp Before Joining (Years)</th>
                  <th>Exp Before Joining (Months)</th>
                  <th>PAN</th>
                  <th>UID</th>
                  <th>Birth Date</th>
                  <th>Anniversary</th>
                  <th>Bank Name</th>
                  <th>Monthly Salary</th>
                  <th>Branch Name</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Country</th>
                  <th>Postal Code</th>
                  <th>Contact Person 1</th>
                  <th>Mobile Number 1</th>
                  <th>Contact Person 2</th>
                  <th>Mobile Number 2</th>
                  <th>Branch Address</th>
                  <th>Account Number</th>
                  <th>ISF Code</th>
                  <th>Account Type</th>
                  
                  <th scope="col"></th>
                  <th scope="col"></th>
             
       
                </tr>
              </thead>
              <tbody>
                
                <tr *ngFor="let c of company">
                  <td scope="row">{{ c.employeeCode }}</td>
                  <td>{{ c.name }}</td>
                  <td>{{ c.email }}</td>
                  <td>{{ c.employeeCode }}</td>
                  <td>{{ c.employeeName }}</td>
                  <td>{{ c.addressLine1 }}</td>
                  <td>{{ c.addressLine2 }}</td>
                  <td>{{ c.addressLine3 }}</td>
                  <td>{{ c.relation1 }}</td>
                  <td>{{ c.relation2 }}</td>
                  <td>{{ c.expBeforeJoiningY }}</td>
                  <td>{{ c.expBeforeJoiningM }}</td>
                  <td>{{ c.pan }}</td>
                  <td>{{ c.uid }}</td>
                  <td>{{ c.birthDate }}</td>
                  <td>{{ c.anniversary }}</td>
                  <td>{{ c.bankName }}</td>
                  <td>{{ c.monthlySalary }}</td>
                  <td>{{ c.branchName }}</td>
                  <td>{{ c.city }}</td>
                  <td>{{ c.state }}</td>
                  <td>{{ c.country }}</td>
                  <td>{{ c.postalCode }}</td>
                  <td>{{ c.contactPerson1 }}</td>
                  <td>{{ c.mobileNumber1 }}</td>
                  <td>{{ c.contactPerson2 }}</td>
                  <td>{{ c.mobileNumber2 }}</td>
                  <td>{{ c.branchAddress }}</td>
                  <td>{{ c.accountNumber }}</td>
                  <td>{{ c.isfCode }}</td>
                  <td>{{ c.accountType }}</td>
                  <td>
                    <a routerLink="/company/{{ c.employeeCode }}">
                      <button type="button" class="btn btn-secondary">
                        Edit
                      </button>
                    </a>
                  </td>
                  <td>
                    <!-- Disabled Backdrop Modal -->
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="deleteCompany(c.employeeCode)"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
